<a href="https://colab.research.google.com/github/st064560/my_python/blob/master/1_Football.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D1%83%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F/1.%20%D0%A4%D1%83%D1%82%D0%B1%D0%BE%D0%BB%D0%B8%D1%81%D1%82%D1%8B.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory" target="_blank"></a>

В [датасете](https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv) присутствуют различные данные о футболистах, среди которых: 

- Имя (Name),
- Возраст (Age),
- Национальность (Nationality),
- Клуб, за который они играют (Club),
- Стоимость (Value),
- Годовая заработная плата (Wage),
- Позиция, на которой они играют (Position),
- Различные игровые характеристики (Crossing, Finishing, HeadingAccuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes),
- Также присутствует системная колонка с номером строки.

Полное описание всех полей находится в файле по [ссылке](https://github.com/dm-fedorov/pandas_basic/blob/master/data/football_about.txt).

Данные содержат в себе информацию о 12897 футболистах и их характеристиках.

```Python
pd.read_csv('Полный_путь_к_файлу/название_файла.csv')
```

Функция возвращает `DataFrame` (таблицу), однако затем принимает ещё много важных параметров, среди которых:

- `sep` — разделитель данных, по умолчанию `','`;
- `decimal` — разделитель числа на целую и дробную часть, по умолчанию `'.'`;
- `names` — список с названиями колонок, не обязательный параметр;
- `skiprows` — если файл содержит системную информацию, можно просто её пропустить. 

Дополнительные параметры можно посмотреть в [официальной документации](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

Часто после чтения данных с помощью `read_csv()` хочется убедиться в правильности чтения или, к примеру, посмотреть, что лежит в наборе данных. 

Для этого используются методы `.head()` или `.tail()`, которые показывают первые или последние 5 строк таблицы. Количество строк можно менять параметром `n`, передаваемым в функцию. 

Посмотрим, как они работают, на примере уже запомнившегося нам набора данных о футболистах:

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

   Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
0           0           L. Messi   31  ...        15            14           8
1           1  Cristiano Ronaldo   33  ...        15            14          11
2           2          Neymar Jr   26  ...        15            15          11
3           3             De Gea   27  ...        87            88          94
4           4       K. De Bruyne   27  ...         5            10          13

[5 rows x 42 columns]

In [0]:
import pandas as pd

football = pd.read_csv(url)
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

Метод `describe` показывает основные статистические характеристики данных по каждому числовому признаку (типы `int64` и `float64`): число непропущенных значений, среднее, стандартное отклонение, диапазон, медиану, `0.25` и `0.75` квартили.

In [0]:
import pandas as pd

football = pd.read_csv(url)
football.describe()

         Unnamed: 0           Age  ...  GKPositioning    GKReflexes
count  12897.000000  12897.000000  ...   12897.000000  12897.000000
mean    6605.040862     24.795379  ...      16.950221     17.315965
std     3782.545526      4.872212  ...      17.369297     18.335817
min        0.000000     16.000000  ...       1.000000      1.000000
25%     3357.000000     21.000000  ...       8.000000      8.000000
50%     6622.000000     24.000000  ...      11.000000     11.000000
75%     9876.000000     28.000000  ...      14.000000     14.000000
max    13125.000000     45.000000  ...      90.000000     94.000000

[8 rows x 38 columns]

Здесь для каждого числового (`int64`) столбца показано число непустых значений (`count`), среднее (`mean`), стандартное отклонение (`std`), минимум и максимум (`min` и `max`), `25%` и `75%` квартили и медиана (`50%`). 

Чтобы посмотреть статистику по нечисловым признакам (например, по строчным (`object`) или булевым (`bool`) данным), нужно явно указать интересующие нас типы в параметре `include` метода `describe`:

In [0]:
football.describe(include=['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

Здесь для каждой колонки с типом `object` (строчные данные) выводится количество непустых строк, уникальных значений, самое частое значение (`top`) и частота этого значения (`freq`).

Для вычисления отдельных статистических параметров `DataFrame` можно использовать не только метод `.describe()`, но и отдельные методы для каждого параметра:

|Метод   | Статистический параметр  |
|---|---|
|.max()|Максимум  |
|.min()|Минимум   |
|.mean()|Среднее значение   |
|.sum()| Сумма  |
|.count()|Количество непустых элементов   |
|.std()|Стандартное отклонение   |

Если один из этих методов применить ко всему `DataFrame`, то в результате его работы будет получен объект типа `Series`. В случае применения метода к отдельному столбцу, результатом вычислений станет число (среднее значение элементов столбца, минимум, максимум и т.п.).

В каждый метод можно передать некоторые параметры, среди которых:

- `axis` — определяет, подсчитывать максимум по строкам (1) или по столбцам (0) (по умолчанию 0);
- `numeric_only` — определяет, вычислять параметры только по числовым столбцам/строкам или нет (`True/False`). Если передать `False` в методы `.mean()` или `.std()`, компилятор выдаст ошибку. 

Пример применения:

In [0]:
df = pd.DataFrame([[i, i + 1.2, i + 2, 'hi'] for i in range(10)],
                  columns=['foo', 'bar', 'baz', 'foobar'])
df

   foo   bar  baz foobar
0    0   1.2    2     hi
1    1   2.2    3     hi
2    2   3.2    4     hi
3    3   4.2    5     hi
4    4   5.2    6     hi
5    5   6.2    7     hi
6    6   7.2    8     hi
7    7   8.2    9     hi
8    8   9.2   10     hi
9    9  10.2   11     hi

In [0]:
df.mean()

foo    4.5
bar    5.7
baz    6.5
dtype: float64

Здесь вычисляется среднее по столбцам (так как не передан параметр `axis`), причем только по числовым столбцам, так как метод `.mean()` не может применяться к столбцам с другим типом.

Доступ к колонке можно получить разными способами: `df['column_name']` или `df.column_name`. 

Например, так:

In [0]:
df = pd.DataFrame([[i, i + 1.2, i + 2, 'hi'] for i in range(10)],
                  columns=['foo', 'bar', 'baz', 'foobar'])
df['foo']

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: foo, dtype: int64

In [0]:
df.foo

Как мы помним, колонки в `DataFrame` представляют собой `Series`, поэтому к ним можно применять методы `.max()`, `.std()` и другие.

In [0]:
df = pd.DataFrame([[i, i + 1.2, i + 2, 'hi'] for i in range(10)],
                  columns=['foo', 'bar', 'baz', 'foobar'])
df.bar.mean()

5.7

Для следующего блока задач потребуется открыть уже известный набор данных о футболистах.

### Задание 1

Чему равен средний возраст (`Age`), футболистов в наборе данных, округлённый до целого?

In [0]:
round(football.Age.mean())

25

### Задание 2

Каково количество непустых строк в колонке `Composure` (Хладнокровие) набора данных о футболистах?

In [0]:
len(football.Composure.notnull())

12897

### Задание 3

Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (`ShortPassing`), округлённое до второго знака после запятой?

In [0]:
round(football.ShortPassing.std(),2)

14.74

### Задание 4

Какова сумма заработных плат за год (`Wage`) в наборе данных о футболистах?

In [0]:
football.Wage.sum()

96954000

### Задание 5

Какова минимальная стоимость футболиста (`Value`) в наборе данных о футболистах?

In [0]:
football[football.Value == football.Value.min()]

       Unnamed: 0           Name  Age  ... GKKicking GKPositioning  GKReflexes
521           525         Hilton   40  ...        11            12          13
1442         1489    S. Nakamura   40  ...         7            15           6
1547         1607       B. Nivet   41  ...         8            14           7
3500         3637        I. Koné   27  ...         8            10          10
5217         5377       F. Kippe   40  ...        10             6          11
7005         7184   H. Sulaimani   41  ...        15            14          13
7263         7444        W. Díaz   40  ...        12            13           9
8722         8915      J. Méndez   20  ...         8             8          12
8873         9069    Y. Nakazawa   40  ...         7             9           8
8920         9116    P. Da Silva   19  ...         9            10           6
11652       11876        I. Koné   19  ...         6             8           7
12368       12597       R. Kawai   39  ...         7            11           9
12422       12651      T. Warner   44  ...        56            60          44
12448       12677    S. Phillips   40  ...        47            53          46
12873       13102  K. Pilkington   44  ...        44            49          46

[15 rows x 42 columns]

Часто возникает необходимость выбрать данные из `DataFrame` по определённому условию. Например, если в уже известном нам наборе данных о футболистах мы хотим выбрать только тех, у кого возраст больше 20 лет, используется следующий код:

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)

In [0]:
football[football.Age > 20]

       Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
0               0           L. Messi   31  ...        15            14           8
1               1  Cristiano Ronaldo   33  ...        15            14          11
2               2          Neymar Jr   26  ...        15            15          11
3               3             De Gea   27  ...        87            88          94
4               4       K. De Bruyne   27  ...         5            10          13
...           ...                ...  ...  ...       ...           ...         ...
12838       13067          D. Mackay   21  ...        47            48          48
12857       13086             Wu Lei   21  ...        11             8           5
12861       13090        Y. Uchimura   33  ...         7            15          15
12870       13099           M. Hurst   22  ...        50            50          45
12873       13102      K. Pilkington   44  ...        44            49          46

[10025 rows x 42 columns]

Синтаксис этой конструкции достаточно прост. Внутри квадратных скобок передается список из `True` или `False`, который показывает, какие строки `DataFrame` нужно оставить, а какие убрать. Этот список генерируется сравнением `Series` `football.Age` с 20. 

Можно для фильтрации использовать и методы получения статистических параметров. Например, если нам нужны только те футболисты, возраст которых больше среднего возраста футболистов, можно использовать следующую конструкцию:

In [0]:
football[football.Age > football.Age.mean()]

       Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
0               0           L. Messi   31  ...        15            14           8
1               1  Cristiano Ronaldo   33  ...        15            14          11
2               2          Neymar Jr   26  ...        15            15          11
3               3             De Gea   27  ...        87            88          94
4               4       K. De Bruyne   27  ...         5            10          13
...           ...                ...  ...  ...       ...           ...         ...
12746       12975      Teng Shangkun   27  ...        55            45          53
12749       12978         M. Mansour   26  ...         6            13          13
12767       12996          Sun Qibin   26  ...        51            48          50
12861       13090        Y. Uchimura   33  ...         7            15          15
12873       13102      K. Pilkington   44  ...        44            49          46

[6191 rows x 42 columns]

Условия можно и комбинировать, используя операторы `&` (логическое и) и `|` (логическое или). Условия при этом заключаются в скобки. Например, если мы хотим получить только тех футболистов, у которых возраст меньше среднего, или игроков `'FC Barcelona'`:

In [0]:
football[(football.Age < football.Age.mean())|
         (football.Club == 'FC Barcelona')]

       Unnamed: 0                Name  ...  GKPositioning GKReflexes
0               0            L. Messi  ...             14          8
7               7           L. Suárez  ...             33         37
15             15           P. Dybala  ...              5          8
16             16             H. Kane  ...             14         11
18             18       M. ter Stegen  ...             85         90
...           ...                 ...  ...            ...        ...
12892       13121        J. Lundstram  ...              8          9
12893       13122  N. Christoffersson  ...              5         12
12894       13123           B. Worman  ...              6         13
12895       13124      D. Walker-Rice  ...              8          9
12896       13125           G. Nugent  ...             12          9

[6717 rows x 42 columns]

Статистические параметры можно посчитать и по отфильтрованному `DataFrame`, например среднюю заработную плату футболистов с возрастом меньше среднего и из `'FC Barcelona'`:

In [0]:
football[(football.Age < football.Age.mean())&
         (football.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

Здесь мы получили среднюю заработную плату за год футболистов с возрастом ниже среднего или из клуба FC Barcelona.

### Задание 1
Какова средняя скорость (`SprintSpeed`) футболистов, зарплата (`Wage`) которых выше среднего? Ответ округлите до сотых.

In [0]:
round(football[football.Wage > football.Wage.mean()].SprintSpeed.mean(), 2)

67.57

### Задание 2

Какова средняя скорость (`SprintSpeed`) футболистов, зарплата (`Wage`) которых ниже среднего? Ответ округлите до сотых.

In [0]:
round(football[football.Wage < football.Wage.mean()].SprintSpeed.mean(), 2)

62.41

### Задание 3

Какую позицию (`Position`) занимает футболист с самой высокой зарплатой (`Wage`)?

In [0]:
##better
football[(football.Wage == football.Wage.max())].Position

0    RF
Name: Position, dtype: object

In [0]:
football.Position[football.Wage == football.Wage.max()]

0    RF
Name: Position, dtype: object

### Задание 4

Сколько пенальти (`Penalties`) забили бразильские (`Nationality, Brazil`) футболисты за период, данные о котором представлены в датасете?

In [0]:
football[(football.Nationality == 'Brazil')].Penalties.sum()

22789

### Задание 5

Укажите средний возраст (`Age`) игроков, у которых точность удара головой `(HeadingAccuracy) > 50`. Ответ округлите до сотых.

In [0]:
round(football[football.HeadingAccuracy > 50].Age.mean(), 2)

25.59

### Задание 6

Укажите возраст (`Age`) самого молодого игрока, у которого хладнокровие (`Composure`) и реакция (`Reactions`) превышают 90% от максимального значения, представленного в датасете.

In [0]:
football[(football.Composure > 0.9 * football.Composure.max()) & 
         (football.Reactions > 0.9 * football.Reactions.max())].Age.min()

24

### Задание 7

Определите, насколько средняя реакция (`Reactions`) самых взрослых игроков (т.е. игроков, чей возраст (`Age`) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [0]:
round((football[football.Age == football.Age.max()].Reactions.mean() - 
       football[football.Age == football.Age.min()].Reactions.mean()), 2)

22.64

### Задание 8

Из какой страны (`Nationality`) происходит больше всего игроков, чья стоимость (`Value`) превышает среднее значение?

In [0]:
football[(football.Value > football.Value.mean())].Nationality

0                  Argentina
1                   Portugal
2                     Brazil
3                      Spain
4                    Belgium
                ...
12736                England
12774    Republic of Ireland
12812                England
12857               China PR
12869                England
Name: Nationality, Length: 1747, dtype: object

### Задание 9

Определите, во сколько раз средняя зарплата (`Wage`) голкипера (`Position, GK`) с максимальным значением показателя "Рефлексы" (`GKReflexes`) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (`GKHandling`). Ответ округлите до сотых.

In [0]:
round(
    ((football[(football.Position == 'GK') & 
               (football.GKReflexes == football.GKReflexes.max())].Wage.mean()) / 
     (football[(football.Position == 'GK') & 
               (football.GKHandling == football.GKHandling.max())].Wage.mean())), 2)

2.77

### Задание 10

Определите, во сколько раз средняя сила удара (`ShotPower`) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (`Aggression`)) выше силы удара игроков с минимальной агрессией. Ответ округлите до сотых.

In [0]:
round(football[(football.Aggression == football.Aggression.max())].ShotPower.mean()/
      football[(football.Aggression == football.Aggression.min())].ShotPower.mean(),2)

2.08